<!-- 
  For extension 2, add this section in to the filter menu 
-->
<div class="filter-by-city-heading">
  <h3>Cities</h3>
  <button class="clear-all-btn">clear all</button>
</div>
<form id="filter-by-city-form">
  <!-- 
    For each city, generate a checkbox and label like below 
  -->
    <input type="checkbox" class="cityCheckbox" value="Seattle"> Seattle<br>
    <input type="checkbox" class="cityCheckbox" value="Mason"> Mason<br>
    <input type="checkbox" class="cityCheckbox" value="Whitehall"> Whitehall<br>
    <input type="checkbox" class="cityCheckbox" value="Defiance"> Defiance<br>
    <input type="checkbox" class="cityCheckbox" value="Columbus"> Columbus<br>
    <input type="checkbox" class="cityCheckbox" value="Akron"> Akron<br>
    <input type="checkbox" class="cityCheckbox" value="Cleveland"> Cleveland<br>
    <input type="checkbox" class="cityCheckbox" value="Mount Orab"> Mount Orab<br>
    <input type="checkbox" class="cityCheckbox" value="Lorain"> Lorain<br>
    <input type="checkbox" class="cityCheckbox" value="Austintown"> Austintown<br>
    <input type="checkbox" class="cityCheckbox" value="Columbiana"> Columbiana<br>
    <input type="checkbox" class="cityCheckbox" value="Toledo"> Toledo<br>
    <input type="checkbox" class="cityCheckbox" value="Holland"> Holland<br>
    <input type="checkbox" class="cityCheckbox" value="Lakewood"> Lakewood<br>
    <input type="checkbox" class="cityCheckbox" value="Bowling Green"> Bowling Green<br>
    <input type="checkbox" class="cityCheckbox" value="Dayton"> Dayton<br>
    <input type="checkbox" class="cityCheckbox" value="Wilmington"> Wilmington<br>
    <input type="checkbox" class="cityCheckbox" value="Cleveland Heights"> Cleveland Heights<br>
    <input type="checkbox" class="cityCheckbox" value="Strongsville"> Strongsville<br>
    <input type="checkbox" class="cityCheckbox" value="Canal Winchester"> Canal Winchester<br>
    <input type="checkbox" class="cityCheckbox" value="Logan"> Logan<br>
    <input type="checkbox" class="cityCheckbox" value="Willoughby"> Willoughby<br>
    <h2>Selected Cities</h2>
    <div id="selectedCities"></div>
    <script src="/index.js"></script>
</form>
