<!-- 
  For extension 2, add this section in to the filter menu 
-->
<div class="filter-by-city-heading">
  <h3>Cities</h3>
  <button class="clear-all-btn">clear all</button>
</div>
<form id="filter-by-city-form">
  <!-- 
    For each city, generate a checkbox and label like below 
  -->
  <input type="checkbox" name="chardon" value="chardon" />
  <label for="chardon">Chardon</label>

  <input type="checkbox" name="cincinnati" value="cincinnati" />
  <label for="cincinnati">Cincinnati</label>
  
  // More checkboxes

</form>
