<li>
  <h2>Snow Belt Brew</h2>
  <div class="type">micro</div>
  <section class="address">
    <h3>Address:</h3>
    <p>9511 Kile Rd</p>
    <p><strong>Chardon, 44024</strong></p>
  </section>
  <section class="phone">
    <h3>Phone:</h3>
    <p>N/A</p>
  </section>
  <section class="link">
    <a href="null" target="_blank">Visit Website</a>
  </section>
</li>
address_1
: 
"1301 Manhattan Ave"
address_2
: 
null
address_3
: 
null
brewery_type
: 
"brewpub"
city
: 
"Hermosa Beach"
country
: 
"United States"
id
: 
"e2fa853c-ca91-4043-878d-0bcee9900ea3"
latitude
: 
"33.8734519"
longitude
: .
"-118.4048656"
name
: 
"Abigaile"
phone
: 
"3107988227"
postal_code
: 
"90254-3666"
state
: 
"California"
state_province
: 
"California"
street
: 
"1301 Manhattan Ave"
website_url
: 
"http://abigailrestaurant.com"