<li>
  <h2>Snow Belt Brew</h2>
  <div class="type">micro</div>
  <section class="address">
    <h3>Address:</h3>
    <p>9511 Kile Rd</p>
    <p><strong>Chardon, 44024</strong></p>
  </section>
  <section class="phone">
    <h3>Phone:</h3>
    <p>N/A</p>
  </section>
  <section class="link">
    <a href="null" target="_blank">Visit Website</a>
  </section>
</li>
<!-- 
breweries: [
{
    "id": "5128df48-79fc-4f0f-8b52-d06be54d0cec",
    "name": "(405) Brewing Co",
    "brewery_type": "micro",
    "address_1": "1716 Topeka St",
    "address_2": null,
    "address_3": null,
    "city": "Norman",
    "state_province": "Oklahoma",
    "postal_code": "73069-8224",
    "country": "United States",
    "longitude": "-97.46818222",
    "latitude": "35.25738891",
    "phone": "4058160490",
    "website_url": "http://www.405brewing.com",
    "state": "Oklahoma",
    "street": "1716 Topeka St"
},
{
    "id": "9c5a66c8-cc13-416f-a5d9-0a769c87d318",
    "name": "(512) Brewing Co",
    "brewery_type": "micro",
    "address_1": "407 Radam Ln Ste F200",
    "address_2": null,
    "address_3": null,
    "city": "Austin",
    "state_province": "Texas",
    "postal_code": "78745-1197",
    "country": "United States",
    "longitude": null,
    "latitude": null,
    "phone": "5129211545",
    "website_url": "http://www.512brewing.com",
    "state": "Texas",
    "street": "407 Radam Ln Ste F200"
},
{
    "id": "ef970757-fe42-416f-931d-722451f1f59c",
    "name": "10 Barrel Brewing Co",
    "brewery_type": "large",
    "address_1": "1501 E St",
    "address_2": null,
    "address_3": null,
    "city": "San Diego",
    "state_province": "California",
    "postal_code": "92101-6618",
    "country": "United States",
    "longitude": "-117.129593",
    "latitude": "32.714813",
    "phone": "6195782311",
    "website_url": "http://10barrel.com",
    "state": "California",
    "street": "1501 E St"
}
], -->