body {
  font-family: sans-serif;
}

.display-none {
  display: none;
}

.main-header {
  padding: 1rem;
  margin-bottom: 2rem;

  background-color: #fbc02d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.08);
}

.select-state-section {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.select-state-section h2 {
  width: 200px;
  margin-bottom: 1.5rem;

  border: 6px dashed #000;

  text-align: center;
}

#select-state-form label {
  display: block;
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

#select-state-form input {
  border-radius: 0.25rem;
}

main {
  display: grid;
  grid-template-areas:
    "sidebar title"
    "sidebar search-bar"
    "sidebar article";

  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto 1fr;
}

.filters-section {
  grid-area: sidebar;

  padding-left: 1rem;
}

.filters-section h2 {
  padding: 1rem;

  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid #000;
  border-bottom: none;
}

.filters-section h3 {
  color: #424242;
  font-size: 1rem;
}

.city-filter {
  margin-top: 2rem;
}

.filter-by-city-heading {
  padding: 1rem 1rem 0;

  display: grid;

  grid-template-columns: 1fr auto;

  border: 1px solid #000;
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: none;
}

.clear-all-btn {
  border: none;
  background-color: transparent;
  color: #1565c0;

  cursor: pointer;

  text-decoration: underline;
  font-size: 0.725rem;
}

#filter-by-type-form {
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  border: 1px solid #000;
  border-radius: 0 0 0.25rem 0.25rem;
}

#filter-by-type-form label {
  font-weight: bold;
}

#filter-by-city-form {
  padding: 1rem;

  display: grid;
  grid-template-columns: 24px auto;
  align-items: center;

  border-radius: 0 0 0.25rem 0.25rem;
  border: 1px solid #000;
  border-top: none;
}

h1 {
  grid-area: title;

  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.search-bar {
  grid-area: search-bar;

  padding: 0 1rem;
}

#search-breweries-form {
  padding: 0.25rem 1rem;

  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;

  border-radius: 0.5rem;
  background-color: #ffe082;
}

#search-breweries-form h2 {
  font-size: 1rem;
}

article {
  grid-area: article;

  padding: 1rem;
}

.breweries-list > * + * {
  margin-top: 1rem;
}

.breweries-list li {
  list-style-type: none;

  padding: 1rem 2rem;

  display: grid;
  grid-template-areas:
    "heading heading type"
    "address phone buttons"
    "link . buttons";
  grid-template-columns: repeat(3, 1fr) minmax(20px, auto);
  grid-template-rows: repeat(3, auto);

  border-radius: 0.25rem;
  border: 1px solid #000;
}

.add-remove-json-server {
  display: grid;
  grid-area: buttons;
}

.breweries-list li h2 {
  grid-area: heading;

  margin-bottom: 1rem;
}

.breweries-list li h3 {
  margin-bottom: 0.25rem;

  color: #424242;
}

.breweries-list li h3,
.breweries-list li p {
  padding-left: 0.5rem;
}

.breweries-list li .type {
  grid-area: type;
  justify-self: end;

  height: max-content;
  width: 100px;
  padding: 0.5rem;
  margin-top: 0.25rem;

  border-radius: 0.25rem;
  border: 3px dashed #002171;
  color: #002171;

  text-align: center;
  text-transform: uppercase;
  font-size: 0.825rem;
  font-weight: bold;
}

.breweries-list li .address {
  grid-area: address;
}

.breweries-list li .phone {
  grid-area: phone;
}

.breweries-list li .link {
  grid-area: link;
}

.breweries-list li .link a {
  display: block;
  padding: 0.5rem 1rem;

  border-radius: 10px;
  background-color: #1565c0;
  color: #fff;

  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* pagination */

.container {
}

.tabs {
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  border-radius: 3px;
}

.first:hover,
.previous:hover,
.next:hover,
.last:hover {
  border: 1px solid rgb(255, 136, 0);
  border-radius: 10px;
  cursor: pointer;
  background: #fbc02d;
  color: #000;
}

/* ADD REMOVE BUTTONS */
.button-88-add {
  margin: 10px 0;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(0, 0, 0);
  background: #fbc02d;
  border: none;

  letter-spacing: 0.05em;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88-add:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #a78a1498;
}

.button-88-add:active {
  box-shadow: 0 0.3em 1em -0.5em #a7761498;
}

.button-88-remove {
  /* display: none; */
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(0, 0, 0);
  background: #ff4800;

  border: none;

  letter-spacing: 0.05em;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88-remove:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #a7141498;
}

.button-88-remove:active {
  box-shadow: 0 0.3em 1em -0.5em #a7141498;
}
