body {
  font-family: sans-serif;
}

.strong {
  font-weight: bold;
}

.hidden {
  display: none;
}

.main-header {
  padding: 1rem;
  margin-bottom: 2rem;

  background-color: #fbc02d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.08);
}

.select-state-section {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.select-state-section h2 {
  width: 200px;
  margin-bottom: 1.5rem;

  border: 6px dashed #000;

  text-align: center;
}

#select-state-form label {
  display: block;
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

#select-state-form input {
  border-radius: 0.25rem;
}

main {
  display: grid;
  grid-template-areas:
    "sidebar title"
    "sidebar pagination"
    "sidebar search-bar"
    "sidebar article";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto 1fr;
}

.filters-section {
  grid-area: sidebar;

  padding-left: 1rem;
}

.filters-section h2 {
  padding: 1rem;

  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid #000;
  border-bottom: none;
}

.filters-section h3 {
  color: #424242;
  font-size: 1rem;
}

.filter-by-city-heading {
  padding: 1rem 1rem 0;

  display: grid;
  grid-template-columns: 1fr auto;

  border: 1px solid #000;
  border-bottom: none;
}

.clear-all-btn {
  border: none;
  background-color: transparent;
  color: #1565c0;

  text-decoration: underline;
  font-size: 0.725rem;
}

#filter-by-type-form {
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  border: 1px solid #000;
  border-radius: 0 0 0.25rem 0.25rem;
}

#filter-by-type-form label {
  font-weight: bold;
}

#filter-by-city-form {
  padding: 1rem;

  display: grid;
  grid-template-columns: 24px auto;
  align-items: center;

  border-radius: 0 0 0.25rem 0.25rem;
  border: 1px solid #000;
  border-top: none;
}

h1 {
  grid-area: title;

  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.search-bar {
  grid-area: search-bar;

  padding: 0 1rem;
}

#search-breweries-form {
  padding: 0.25rem 1rem;

  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;

  border-radius: 0.5rem;
  background-color: #ffe082;
}

#search-breweries-form h2 {
  font-size: 1rem;
}

.pagination {
  display: flex;
  grid-area: pagination;

  gap: 1ch;
  
  justify-content: end;
  padding-right: 1rem;
}

.page-container {
  display: flex;
  justify-content: right;

  gap: 1ch;
}

.page-button {
  border: 1px solid #000;
  border-radius: 0.25rem;

  cursor: pointer;

  padding-right: 1ch;
  padding-left: 1ch;
}

.page-numbers {
  display: flex;

  justify-content: space-evenly;
  justify-items: center;

  gap: 1ch;
}

.page-numbers > span:not(.page-more) {
  width: 3ch;
  text-align: center;


  border: 1px solid #000;
  border-radius: 0.25rem;


  cursor: pointer;
  background-color: #1565c0;
  color: #fff;
}

#selected-page {
  color: #1565c0;
  background-color: #fff;
}

.page-button {
  background-color: #1565c0;
  color: #fff;
}

.disabled {
  background-color: #bbb;
  color: #888;
}

article {
  grid-area: article;

  padding: 1rem;
}

.breweries-list > * + * {
  margin-top: 1rem;
}

.breweries-list li {
  list-style-type: none;

  padding: 1rem 2rem;

  display: grid;
  grid-template-areas:
    "heading heading type"
    "address phone ."
    ". . link";
  grid-template-columns: repeat(2, 1fr) minmax(140px, auto);
  grid-template-rows: repeat(3, auto);

  border-radius: 0.25rem;
  border: 1px solid #000;
}

.breweries-list li h2 {
  grid-area: heading;

  margin-bottom: 1rem;
}

.breweries-list li h3 {
  margin-bottom: 0.25rem;

  color: #424242;
}

.breweries-list li h3,
.breweries-list li p {
  padding-left: 0.5rem;
}

.breweries-list li .type {
  grid-area: type;
  justify-self: end;

  height: max-content;
  width: 100px;
  padding: 0.5rem;
  margin-top: 0.25rem;

  border-radius: 0.25rem;
  border: 3px dashed #002171;
  color: #002171;

  text-align: center;
  text-transform: uppercase;
  font-size: 0.825rem;
  font-weight: bold;
}

.breweries-list li .address {
  grid-area: address;
}

.breweries-list li .phone {
  grid-area: phone;
}

.breweries-list li .link {
  grid-area: link;
}

.breweries-list li .link a {
  display: block;
  padding: 0.5rem 1rem;

  border-radius: 0.25rem;
  background-color: #1565c0;
  color: #fff;

  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
